/* Применится ко всем объектам типа Text в игре */
canvas {
    image-rendering: pixelated; /* чтобы цифры не мылило */
}

/* Специальный стиль для наших счетчиков */
.energy-style {
    -webkit-text-stroke: 2px black;
    paint-order: stroke fill;
    filter: drop-shadow(0px 0px 2px #00ff00); /* неоновое свечение */
}