/*main for btn inpt and lst*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

.button1, .input1, .list1, .list1 option, .checkbox1::before{
	background: #363b42;
    background: -moz-linear-gradient(#1F2124, #27292C);
    background: -ms-linear-gradient(#1F2124, #27292C);
    background: -o-linear-gradient(#1F2124, #27292C);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#1F2124), to(#27292C));
    background: -webkit-linear-gradient(#1F2124, #27292C);
    background: linear-gradient(#1F2124, #27292C);
    border: 1px solid #000;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    color: #fff;
	font-size: 1.6vmin !important
}
/*buttons*/
.button1:hover, .checkbox1:hover::before{
	background: #181818;
	cursor:pointer
}
.button1:active, .checkbox1:active::before{
	background: #3d3d3d;
}
/*inputs*/
.input1:hover{
	background: #191919;
}
.input1:focus{
	background: #191919;
	color: #fafafa;
	outline:none;
}
/*listbox*/
.list1:hover{
	background: #171717;
}
.list1 option:hover{
	color: #aafaaa;
	background: #191919;
}
.list1:focus{
	background: #191919;
	color: #fafafa;
	outline:none;
}

.list1::-webkit-scrollbar {
  width: 10px;               /* ширина scrollbar */
}
.list1::-webkit-scrollbar-thumb {
  background-color: #35373b;    /* цвет плашки */
  border-radius: 20px;       /* закругления плашки */
  border: 1px solid #35373b;  /* padding вокруг плашки */
}
.list1 option:checked::before {
    content:">  ";
}
.list1 option:checked{
    color: #aafaaa;
	background: #191919;
}
.nonescroll1::-webkit-scrollbar {
  display:none;               /* ширина scrollbar */
}

/*checkbox

*/
.checkbox1 {
    padding-left: 30px; /* Расстояние между картинкой и текстом */
	width: 85%;
	height: 85%;
	margin-right: 0px;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 0px;
	outline:none;
}

.checkbox1::before {
    content: ""; /* Пустое содержимое для создания псевдоэлемента */
	width:90%;
	height:90%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;

	font-size: 4.6vmin !important
}

.checkbox1_old[type="checkbox"] {
    z-index: -1; /* Скрываем оригинальный чекбокс */
}

.checkbox1:checked::before {
    content: "•";
    display: flex; /* Используем flex-контейнер */
    justify-content: center; /* Выравниваем по горизонтали по центру */
    align-items: center; /* Выравниваем по вертикали по центру */
}



.input1{
	padding-left:10px;
}
.list1, .tooltipsz{
z-index:10000;
}
.mono{
	font-family:monospace;
	font-size: 1.6vmin !important;
}


.tooltipc{
 background-color:#3b3b3b;
 border-radius:10px;
 display:flex;
 justify-content: center;
 align-items: center;
 box-shadow: 0px 0px 20px black;
}
.toolcontent{
    margin-top:10px;
    color:white;
    padding:5px;
}
.toolimg{
	width:80%;
	margin-left:10%;
    border-radius:10px;
}

.custom-alert {
	font-family: 'Ubuntu Mono', monospace;
	border: 1px solid #000;
	border-radius: 3px;
}

















